@mixin w1600{
  @media (max-width:1600px){
      @content;
  }
}
@mixin w1200{
  @media (max-width:1200px){
      @content;
  }
}
@mixin w900{
  @media (max-width:900px){
      @content;
  }
}
@mixin w768{
  @media (max-width:768px){
      @content;
  }
}
@mixin w550{
  @media (max-width:550px){
      @content;
  }
}
@mixin w450{
  @media (max-width:450px){
      @content;
  }
}
@mixin h411{
  @media (max-height:411px){
      @content;
  }
}


*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.container{
  font-family: 'Montserrat', sans-serif;
}

.banner{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0,.8),rgba(0, 0, 0,.8)), url(../images/banner-bg.jpeg) no-repeat center / cover;
}

.logo{
  width: 80px;
  height: 80px;
  position: fixed; // 選單出現時讓 logo 也固定
  top: 20px;
  left: 50px;
  z-index: 100;
  @include w550{
    width: 70px;
    height: 70px;
    left: 30px;
  }
}

.btn-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  perspective: 1000px;
}

.banner-btn{
  width: 350px;
  height: 100px;
  background: linear-gradient(#16c3cf, #156469);
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Slabo 27px',serif;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 10px 10px #000;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-sizing: border-box;
  @include w900{
    width: 300px;
    height: 80px;
    font-size: 35px;
  }
  @include w550{
    width: 280px;
    height: 70px;
    font-size: 25px;
  }
  @include w550{
    width: 260px;
    height: 60px;
  }
  &::before{
    // 下方
    content: '';
    width: 100%;
    height: 15px;
    background-color: #156469;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
  &::after{
    // 右側
    content: '';
    width: 15px;
    height: 100%;
    background-color: #16c3cf;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
  }
  &:hover{
    transform: rotateX(30deg) rotateZ(0deg);
  }
}

/*
hamburger-menu
*/

.hamburger-menu{
  width: 35px;
  height: 30px;
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex; // 用 flex 平均分配 line 位置
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.line{
  width: inherit;
  height: 5px;
  background-color: #16c3cf;
  border-radius: 25px;
  transform-origin: right; // 移動軸設定為右邊，不是中心點
  transition: transform .5s;
    &-2{
      height: 3px;
    }
}

.change{
  .line-1{
    transform: rotateZ(-45deg);
  }
  .line-2{
    transform: translate(5px,20px);
  }
  .line-3{
    transform: rotateZ(45deg);
  }
  .top-nav{
    top: 0;
  }
  .bottom-nav{
    bottom: 0;
  }
}

/*
top-nav
*/

.top-nav{
  height: 15vh;
  width: 100%;
  // 背景圖置中，y軸從最上方顯示
  background: linear-gradient(rgba(0, 0, 0,.8),rgba(0, 0, 0,.8)),url(../images/nav-bg.jpeg) no-repeat 50% 0 / cover;
  position: fixed;
  top: -15vh;
  z-index: 50;
  transition: top .5s;
  border: 1px solid yollow;
  @include w1200{
    background: #010101;
  }
  @include w900{
    height: 25vh;
    top: -25vh;
  }
  @include w550{
    height: 30vh;
    top: -30vh;
  }
  @include w450{
    height: 35vh;
    top: -35vh;
  }
}

.nav-list{
  width: 80%;
  margin: 0 auto;
  height: inherit; // 繼承父層高度
  display: flex;
  justify-content: space-evenly;
  align-items: center;
    li{ // 為項目分配 3D 空間，需要給 nav-link 父元素
      perspective: 500px;
    }
    @include w1200{
      justify-content: center;
    }
    @include w900{
      width: 70%;
      flex-wrap: wrap;
      align-content: center;
    }
    @include w768{
      width: 60%;
    }
    @include w450{
      width: 50%;
    }
}

.nav-link{
  font-family: 'Slabo 27px',serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
  background-color: #000;
  padding: 5px 10px;
  display: block; // <a> 行內元素 改 block 才能觸發旋轉
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top; // 改變被轉換元素的位置
  transition: transform .3s;
  @include w1200{
    font-size: 25px;
  }
  @include w900{
    margin: 3px 0;
  }
  @include h411{
    font-size: 20px;
  }
  &::after{
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: #000;
    padding: inherit;
    color: #16c3cf;
    transform: rotateX(-90deg);
    transform-origin: top;
  }
  &:hover{
    transform: rotateX(90deg);
  }
}

/*
bottom-nav
*/

.bottom-nav{
  width: 100%;
  height: 85vh; // top-nav 15vh 加起來 100
  background: linear-gradient(rgba(0, 0, 0,.8),rgba(0, 0, 0,.8)),
              url(../images/nav-bg.jpeg) no-repeat 50% -15vh / cover; // y 軸位置減掉 top-nav -15vh
  position: fixed;
  bottom: -85vh;
  transition: bottom .4s;
  @include w900{
    height: 75vh;
    bottom: -75vh;
  }
  @include w550{
    height: 70vh;
    bottom: -70vh;
  }
  @include w450{
    height: 65vh;
    bottom: -65vh;
  }
}

.icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  @include w1600{
    width: 80%;
  }
  @include w1200{
    width: 70%;
    flex-wrap: wrap; // 讓 icon 斷行
    align-content: center;
    justify-content: center;
  }
  @include w900{
    width: 95%;
  }
}

.icon-item{
  perspective: 1000px;
}

.icon-link{
  width: 200px;
  height: 200px;
  border: 8px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: transform .5s;
  @include w1200{
    width: 180px;
    height: 180px;
    margin: 20px;
  }
  @include w900{
    width: 140px;
    height: 140px;
    margin: 10px;
  }
  @include w768{
    width: 120px;
    height: 120px;  
  }
  @include w550{
    width: 110px;
    height: 110px;
  }
  @include h411{
    width: 90px;
    height: 90px;
  }

  &::before,&::after {
    content: '';
    height: 25px;
    width: 5px;
    background-color: #fff;
    position: absolute;
    @include h411{
      height: 20px;
    }
  }
  &::before{
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &:hover{
    transform: rotateY(35deg);
    i{
      transform: rotateY(-70deg);
      text-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
      &::after{
        top: 0;
        right: 0;
        border-radius: 0;
      }
    }
  }
    i{
      color: #fff;
      font-size: 60px;
      width: 150px;
      height: 150px;
      background-color: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #fff;
      text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
      overflow: hidden;
      position: relative;
      transition: all .5s;
      @include w1200{
        width: 130px;
        height: 130px;
        font-size: 40px;
      }
      @include w900{
        width: 90px;
        height: 90px;
        font-size: 30px;
      }
      @include w768{
        width: 70px;
        height: 70px;
      }
      @include w550{
        width: 60px;
        height: 60px;
      }
      @include h411{
        width: 50px;
        height: 50px;
        font-size: 25px;
      }
      &::after{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: -130%;
        right: -130%;
        border-radius: 50%;
        transition: all .3s;
        z-index: -1;
      }
    }
}

.facebook::after{
  background-color: #3b5999;
}

.youtube::after{
  background-color: #cd201f;
}

.twitter::after{
  background-color: #55acee;
}

.google::after{
  background-color: #dd4b39;
}