@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


@mixin w768{
  @media (max-width:768px){
      @content;
  }
}
@mixin w414{
  @media (max-width:414px){
      @content;
  }
}
@mixin h414{
  @media (max-height:414px){
      @content;
  }
}

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #0a2a43;
  min-height: 1500px;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before{
    // 做一個漸層連接下面內容
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

.text{
  position: relative;
  color: #ffffff;
  font-size: 10em;
  z-index: 1;
  text-align: center;
  line-height: 1;
  @include w768{
    font-size: 8em;
  }
  @include w414{
    font-size: 6em;
  }
  @include h414{
    font-size: 5em;
  }
}

.road{
  z-index: 2;
}